/**
* The following styles get applied inside the editor only.
*
* Replace them with your own styles or remove the file completely.
*/


.title-categories-wpm {
    position: relative;
    background: #fff;
    padding: 30px 20px 10px;
    span.labing {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px 10px;
        font-size: 12px;
        background: #2196f3;
        color: #fff;
    }
    .components-select-control__input {
        font-size: 15px;
        -webkit-appearance: none;
        max-width: unset;
        -webkit-appearance: button;
        -webkit-user-select: none;
        min-height: 500px;
        padding: 20px 10px;
      

    }
}
.multiplewpm-categories select{
    overflow: scroll !important;
    min-height: 120px !important;
}